.c-container{
  justify-content: space-between;
}

.c-container>div{
  flex: 1;
}

.c-right{
  width: 100%;
}

.c-left{
  gap: 0.5rem;
}

.contactModes{
  margin-top: 2rem;
  gap: 1rem;
}

.contactModes .row{
  gap: 1.5rem;
}

@media (max-width: 1024px){
  .c-container{
    flex-direction: column;
  }
  .c-container .c-right{
    justify-content: center;
  }
  .contactModes{
    width: 100%;
  }
  .row{
    flex-direction: column;
    width: 100%;
  }
}